<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../_partials/head %>
    <link rel="stylesheet" href="./stylesheets/regulasi/newregulasi.css">
  <style>
    .pdfobject-container { height: 500px;}
    .pdfobject { border: 1px solid #666; }
    .arsip {
      padding-top: 60px;
    }
    .list-title {
      margin-bottom: 0;
      margin-top: 60px;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div class="navbar-menu"></div>

  <% include ../_partials/popup_login %>

  <section id="regulasi profile">
    <% include ../_partials/navbar %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
      <hr>
    </div>
  </section>

    <div class="ornament-city"></div>
    <div class="section fp-auto-height n-footer fix">
      &copy; copyright dokumen arsip jakarta
    </div>
  
  </div>

  <!-- additional script -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/granim/1.1.0/granim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js'></script>
  <script src='js/home.js'></script>
  <script src='js/main.js'></script>
  <script></script>
</body>
</html>
