@import '../_var';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800,900');
$grey: #2A3649;
$orange: #E96404;

#regulasi-arsip {
  padding-top: 60px;
  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

body {
  @include size(100% , 100%);
  position: relative;
  background: #F1F1F1;
  // position: relative;
}
.list-title {
  font-family: Maven Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  font-size: 36px;
  color: #696969;
  margin-bottom: 40px;
  margin-top: 60px;
  @media (max-width: 768px) {
    font-size: 26px;
    color: #696969;
    padding-left: 4px;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.pdf-container {
  @include size(100% , 100%);
  position: fixed;
  z-index: 49;
  background: rgba($color: $grey , $alpha: .9);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.popup-login {
  @include size(100% , 100%);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #343F51 , $alpha: .95);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &--center {
    width: 283px;
    height: 314px;
    @include center;
    // background: tomato;
    .login--text {
      color: white;
      font-style: normal;
      font-weight: bold;
      line-height: 78px;
      font-size: 64px;
    }
    .login--subtext {
      color: white;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 18px;
      margin-top: 10px;
    }
    .login--input {
      width: 100%;
      height: 41px;
      background: #FFFFFF;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
      border-radius: 32px;
      border: none;
      padding-left: 25px;
      margin-top: 15px;
      &:focus { outline: none; }
    }
    .btn-login {
      width: 107px;
      height: 41px;
      border: none;
      color: white;
      font-weight: bold;
      cursor: pointer;

      background: #FF8206;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
      border-radius: 32px;

      font-size: 16px;

      margin-top: 15px;
    }
  }
}

.n-navbar {
  background: #FB6900;
}

#regulasi {
  @include size(100% , 100%);
  position: relative;
  margin-bottom: 30px;
  transition: all .4s ease;
  padding-top: 60px;
  &.active  { 
  }
  &.arsip {
    padding-top: 60px;
  }
  @media (max-width: 768px) {
    margin-bottom: 0px;
    padding: 0px 10px;
    padding-top: 95px;
  }
  .container-list {
    width: 657px;
    height: auto;
    // background: tomato;
    margin: 0 auto;
    margin-top: 60px;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 0px;
    }
    .list-subtitle {
      display: none;
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
      font-size: 16px;
      margin-top: 20px;

      color: #9C9C9C;

      margin-bottom: 40px;
    }
    .list-box {
      width: 100%;
      height: 56px;
      background: white;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding-left: 30px;
      cursor: pointer;
      margin-bottom: 6px;
      border: solid #EEEDED 2px;
      transition: all .1s ease;
      overflow: hidden;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 5px;
      }
      &--bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #7EE0FF;
        transition: all .4s ease;
        @media (max-width: 768px) {
          width: 6px;
          height: 6px;
          margin-left: 5px;
          position: absolute;
        }
      }
      &--text {
        font-family: Nunito Sans;
        font-style: normal;
        line-height: 22px;
        font-size: 14px;
        color: #686F70;
        padding-left: 50px;
        font-weight: 600;
        @media (max-width: 768px) {
          width: 100%;
          font-size: 12px;
          padding-left: 25px;
        }
      }
      &:hover {
        box-shadow: 6px 6px 20px rgba($color: #333 , $alpha: .1);
        .list-box--bullet {
          width: 10px;
          height: 100%;
          margin-left: -30px;
          border-radius: 0;
        }
      }
    }
  }
}

.ornament-city {
  @include size(100% , 396px);
  background: url('../../img/city-grey.svg');
  position: absolute;
  bottom: -10px;
  z-index: -1;
  @media (max-width: 768px) {
    bottom: 0px;
  }
}


.n-footer {
  width: 100%;
  padding: 15px 60px;
  background: #E8E8E8;
  color: $secondary-color;
  // color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  z-index: 40;
  // background: $orange;
  // background: $secondary-color;
  // text-align: center;
  &.fix {
    position: relative;
  }
  @media (max-width: 768px) {
    padding: 15px 30px;
    text-align: center;
  }
}
