<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

  <!-- additional -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./stylesheets/main.css">
  <link rel="stylesheet" href="./stylesheets/home/newhome.css">
  <link rel="stylesheet" href="./stylesheets/regulasi/newregulasi.css">
  <style>
    .pdfobject-container { height: 500px;}
    .pdfobject { border: 1px solid #666; }
  </style>
  <title>Document</title>
</head>
<body>

  <div class="pdf-container">
      
      <div id="pdf"></div>
  </div>

  <div class="navbar-menu"></div>
  

  <% include ../_partials/popup_login %>

  <% include ../_partials/navbar %>
  <section id="regulasi">
    <div class="container-list">
      <div class="list-title">Data SMEP</div>
      <div class="list-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae porro doloremque magni illum dolores pariatur voluptate ex.</div>

      <a href='/web/viewer.html?file=/pdf/smep/identifikasi kearsipan tahun 2016.pdf' class="list-box" data-url='url'>
        <div class="list-box--bullet"></div>
        <div class="list-box--text">identifikasi kearsipan tahun 2016</div>
      </a>
      <a href='/web/viewer.html?file=/pdf/smep/hasi pengawasan kearsipan SKPD-UKPD tahun 2016.pdf' class="list-box" data-url='url'>
        <div class="list-box--bullet"></div>
        <div class="list-box--text">hasil pengawasan kearsipan SKPD-UKPD tahun 2016</div>
      </a>
      <a href='/web/viewer.html?file=/pdf/smep/DATA HASIL SURVEI ARSIP SKPD-UKPD _sampling.pdf' class="list-box" data-url='url'>
        <div class="list-box--bullet"></div>
        <div class="list-box--text">DATA HASIL SURVEI ARSIP SKPD-UKPD _sampling</div>
      </a>
      <a href='/web/viewer.html?file=/pdf/smep/HASIL SMEP 2014 REKAP SKOR.pdf' class="list-box" data-url='url'>
        <div class="list-box--bullet"></div>
        <div class="list-box--text">HASIL SMEP 2014 REKAP SKOR</div>
      </a>
      <a href='/web/viewer.html?file=/pdf/smep/HASIL PENGAWASAN TAHUN 2016.pdf' class="list-box" data-url='url'>
        <div class="list-box--bullet"></div>
        <div class="list-box--text">HASIL PENGAWASAN TAHUN 2016</div>
      </a>
    </div>
  </section>

    <div class="ornament-city"></div>
    <div class="section fp-auto-height n-footer fix">
      &copy; copyright dokumen arsip jakarta
    </div>
  
  </div>

  <!-- additional script -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/granim/1.1.0/granim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js'></script>
  <script src='js/home.js'></script>

  <script src='./js/main.js'></script>
  <script>
    $(document).ready(function() {
      var uri = '/web/viewer.html?file=/pdf/smep/'
      var link = [
          'identifikasi kearsipan tahun 2016' ,
          'hasi pengawasan kearsipan SKPD-UKPD tahun 2016' ,
          'DATA HASIL SURVEI ARSIP SKPD-UKPD _sampling' ,
          'HASIL SMEP 2014 REKAP SKOR' ,
          'HASIL PENGAWASAN TAHUN 2016'
      ]
      
      // link.map(function(obj , i) {
      //   var reg_link = new RegExp(obj)
      //   $('.container-list').append(`
      //     <a href=${uri + reg_link +".pdf"}class="list-box" data-url='url'>
      //       <div class="list-box--bullet"></div>
      //       <div class="list-box--text">HASIL PENGAWASAN TAHUN 2016</div>
      //     </a>
      //   `)
      // })
      

    })
  </script>
</body>
</html>
