<div class="popup-login">
  <div class="popup-login--center">
    <div class="login--text">Login</div>
    <div class="login--subtext">Cari dokumen arsip disini</div>
    <form action="/login" method='post'>
      <input type="text" class="login--input" name='username' placeholder="Username">
      <input type="password" class="login--input" name='password' placeholder="Password">
      <button class="btn-login" type='submit'>Login</button>
    </form>
  </div>
</div>